
BusinessIntelligence/.idea/
BusinessIntelligence/caidat/CoPhieu68Crawler/.idea/
BusinessIntelligence/caidat/CoPhieu68Crawler/target/
BusinessIntelligence/baitap03/

HoachDinhChienLuoc/.idea/

HeThongTimKiemThongtin/LuceneProject/LuceneDemo/.idea/

HeThongTimKiemThongtin/LuceneProject/LuceneDemo/data/log/
*.class

BusinessIntelligence/caidat/pentaho_file_repo/data/
